:root {
    --positive: #ffffff;
    --negative: #000000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--negative);
    border: 2px solid var(--positive);
}

::-webkit-scrollbar-thumb {
    border: 2px solid var(--positive);
    background-color: var(--positive);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--negative);
}

*,*::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;

    display: grid;
    grid-template-rows: 50px min-content auto 100px;
    grid-template-columns: 1fr 8fr 1fr;

    background-color: var(--negative);
    background-image: url("/assets/hexagons.jpg");
    background-size: 100px;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
    color: var(--positive);
}

nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    align-items: stretch;
    justify-content: flex-end;


    background-color: var(--negative);
    color: var(--positive);

    line-height: 1em;

}

nav > * {
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid currentColor;
    color: currentColor;
    text-decoration: none;
}

nav > *:hover {
    filter: opacity(0.5);
}

header {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    padding: 1rem;
    background-image: linear-gradient(45deg, var(--negative) 50%, transparent);
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

    text-indent:1em;
}

main {
    grid-column: 2 / -3;

    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;

    border-radius: 0rem;
    background-color: var(--negative);
    border: 2px solid currentColor;
}

section {
    padding: 0.5rem 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid currentColor;
}

section > div {
    width: 50%;
}

img {
    max-width: 100%;
}

footer {
    grid-column: 1 / -1;
    grid-row: -1 / -2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--negative);
    text-align: center;
    border-top: 2px solid currentColor;
}

.logo {
    margin-right: auto;

    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Mono', monospace;
    border-right: 2px solid currentColor;
    border-left: none;
}

p {
    text-indent:1em;
}
